// Place all the styles related to the ThisWeek controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
	text-align: center;
}

.answer {
	font: {
		size: 40px;
	}
	text-align: center;
}
