<h1 class="question">Is there a Saturday this week?</h1>

<p class="answer">
<%= @answer %>
</p>

<p class="info">
Stanford plays <%= @firstGame.opponent %> on <%= @firstGame.kickoff.strftime("%A, %B %-d")%> at <%= @firstGame.kickoff.strftime("%-I:%M %p") %> PDT
<br/>
<br/>
Location: Stanford Stadium
</p>
